.item {
    background-color: #ccf;
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid black;
}
.coluna{
    
    display: flex;
    flex-direction: column;
    flex: 1;
}

.nomeAutor{
font-size: 16px;
padding: 3px;
}

.circulo {
    color: blue;
    cursor: pointer;
    padding-right: 10px;
}

.texto {
    width: 100%;    
}

.texto-riscado {
    text-decoration: line-through;
}

.lixeira {
    cursor: pointer
}

.lixeira:hover {
    color: red
}
